{% extends "base.html" %}
{%block title%}AllyMarket{%endblock%}

{%block content%}
<script src="{{ url_for('static', filename='javascript/signup.js') }}"></script>

<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
<div class="login-card" style="width: 1000px; padding: 40px;">
<form method = "POST">
    <h1><strong><span class="highlight"> Sign Up</span></strong></h1>
    <h1><strong>Select Your Account Type:</strong></h1>
    <hr>
<div class="user-type-selection">
  <input type="radio" id="customer" name="UserType" value="Customer" required>
  <label for="customer" class="user-type-btn">
    <img src="{{ url_for('static', filename='assets/customer.jpg') }}" alt="Customer">
    <span>Customer</span>
  </label>

  <input type="radio" id="owner" name="UserType" value="BusinessOwner" required>
  <label for="owner" class="user-type-btn">
    <img src="{{ url_for('static', filename='assets/business.jpg') }}" alt="Business Owner">
    <span>Business Owner</span>
  </label>
</div>

  <!-- Other signup fields -->
  <label for="email">Email Address</label>
  <input type="email" name="email" placeholder="Enter Email" required>
  <label for="text">First Name</label>
  <input type="text" name="FirstName" placeholder="Enter First Name" required>
  <label for="password">Password</label>
  <input type="password" name="password1" placeholder="Enter Password" required>
  <input type="password" name="password2" placeholder="Confirm Password" required>
  <button type= "submit" class="btn btn-primary">Sign up!</button>
</form>

</div>
{%endblock%}
